.home-container {
    background-color: #D8E7FC;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ax-home-title h1 {
    font-size: 5rem;
    color: #0D5EF4;
}

.ax-home-dres p {
    margin: 20px; 
    font-size: 37px;
    font-weight: 600;
    color: #0F2239;
}
.ax-home-btn {
    margin-top: 50px;
}

.ax-home-first-btn {
    padding: 15px 30px;
    border-radius: 3px;
    transition: .4s;
    background: #fff;
    color: #0D5EF4;
    font-weight: 600;
    font-size: 20px;    
}

.ax-home-first-btn:hover {
    color: #fff;
    background: #0D5EF4;
}

@media (min-width: 320px) and (max-width: 1024px) { 

    .ax-home-title h1 {
        font-size: 3rem;
        color: #0D5EF4;
    }

 }